/* Sign up*/
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url(../img/sub-category\ hiking.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    background-color: #486d87 ;
    border-color: #486d87 ;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
 


  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

/* Toogle Button
  -------------------------------------------------- */
  .btn-secondary{
    background-color: #0C3357;
    border-radius: 10px;
  
  }
  .btn-secondary active mb-4{
    background-color: #0C3357;
  }
  
/* HomePage
  -------------------------------------------------- */

  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }



/* Steps
  -------------------------------------------------- */

  .progress{
    border-radius: 15px;
  }
  .progress-bar{
    background-color: #486d87 ;
  }


/* Card Group Details
  -------------------------------------------------- */    

.group {
  display: flex;
  align-items: flex-end;
  height: 235px;
  align-content: center;
  justify-content: center; 
  background-position: 0vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 12px;
  border-top: transparent;
  border-radius: 10px 10px 40px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}
  

#groupOne {
  background-image: url(../img/priscilla-du-preez-XkKCui44iM0-unsplash\ \(1\).jpg);
} 

#groupTwo {
  background-image: url(../img/sports\ 1.jpg);
} 

#groupThree {
  background-image: url(../img/priscilla-du-preez-XkKCui44iM0-unsplash\ \(1\).jpg);
} 

#groupFour {
  background-image: url(../img/priscilla-du-preez-XkKCui44iM0-unsplash\ \(1\).jpg);
} 

#groupFive {
  background-image: url(../img/priscilla-du-preez-XkKCui44iM0-unsplash\ \(1\).jpg);
} 

#groupSix {
  background-image: url(../img/priscilla-du-preez-XkKCui44iM0-unsplash\ \(1\).jpg);
} 


.groupDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(4, 19, 29, 0.77);
  border-radius: 0px 0px 40px 10px;
  width: 354px;
  height: 72px;
  padding: 20px 40px;
  color: white;
}


.groupDetails h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-left: -30px;
  color: #FFFFFF;
}

.groupDetails p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.semiBanner{
  margin-top: 24px;
  background: #f3f8ff;
  height:74px ;
  width:50%;
  border-radius: 0px 0px 40px 10px;
 

}

.flexText{
  padding-top: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons
  -------------------------------------------------- */ 
.btn{
  border-radius: 15px;
  width:220px ;
  height: 48px;
  font-size: 20px;
}

.btn-primary{
  background-color: #0C3357;
  border-color:#0C3357;
  text
}

.btn-primary:hover{
  background-color: #2F6290;
  border-color: #2F6290;
}

.btn-light{
  background-color: #A7C0E5;
  border-color: #A7C0E5;
  color: #0C3357;
}

 /* Google & Facebook Buttons
  -------------------------------------------------- */

  .btn-google {
    color: white;
    background-color: #ea4335;
    border-radius: 2rem;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
    border-radius: 2rem;
  }
 /* Forms
  -------------------------------------------------- */
  .col-form-label{
    
    position: static;
  }
  .form-group{
    margin-top: 32px;

  }
   /* Fonts
  -------------------------------------------------- */
.username-heading{
  color: #E79F14;
}
.login-heading{
  color: #0C3357;
}